@mixin flex($align, $justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

$main: #010a43;

.main {
  background: $main;
  color: #f2f2f2;
  height: 100vh;
  overflow: auto;
}

button {
  &:focus,
  &:active {
    outline: none;
  }
}

.money-check,
.wallet {
  background: #302387 !important;
}

.car {
  background: #323edd !important;
}

.pizza-slice {
  background: #ffd31d !important;
}

.home {
  background: #8105d8 !important;
}

.dog,
.receipt {
  background: #0fabbc !important;
}

.shopping-cart {
  background: #a6cb12 !important;
}

.mug-hot {
  background: #df7861 !important;
}

.plane {
  background: #3e64ff !important;
}

.coins {
  background: #01cc88 !important;
}

.money-bill {
  background: #fa163f !important;
}

.chart-line {
  background: #fa26a0 !important;
}

.beer {
  background: #f7931e !important;
}

.user-tag {
  background: #472b62 !important;
}

.shopping-bag,
.tags {
  background: #ff3e6d !important;
}

.tshirt,
.money-bill-alt {
  background: #b643cd !important;
}

.briefcase-medical,
.dice-four {
  background: #ff1f5a !important;
}

.gift {
  background: #291f71 !important;
}

.chart-bar,
.hand-holding-usd {
  background: #e7455f !important;
}

.mobile-alt {
  background: #0d3f67 !important;
}

.credit-card {
  background: #8105d8 !important;
}

.graduation-cap {
  background: #f68787 !important;
}

.random {
  background: #588da8 !important;
}

.pop-dropdown .popover-body ul {
  margin-bottom: 0;

  li {
    &:first-child {
      border-bottom: 1px solid #f2f2f2;

      button {
        margin-bottom: 3px;
      }
    }

    button {
      color: #202020;

      svg {
        color: #202020;
        font-size: 14px;
      }

      span {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}

.btn-link {
  background: none;
  border: 0;
  font-size: 16px;
}

.btn-link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.action-spinner {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 8%;
  top: 35%;
}

.sign-in-up {
  background: #ffffff;
  height: 100vh;
  @include flex(center, space-evenly, column);
  padding: 15px;
  background: $main;

  .content {
    width: 100%;
    min-height: 77vh;
    background: #ffffff;
    padding: 50px 15px;
    border-radius: 15px;
    @include flex(normal, center, column);

    .error {
      color: #fa163f;
    }

    .sign-in-up-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 21px;
        font-weight: bold;
      }
    }

    .input-form {
      position: relative;

      input {
        border: 0;
        background: #e6e6ea;
        border-radius: 25px;
        width: 100%;
        font-size: 18px;
        padding-left: 40px;
        height: 50px;

        &:hover,
        &:focus,
        &:active {
          outline: none;
        }
      }

      svg {
        position: absolute;
        left: 4%;
        top: 22%;
        color: #010a43;
      }
    }

    .proceed-btn {
      padding: 8px;
      border-radius: 25px;
      border: 0;
      width: 100%;
      height: 50px;
      background: #ff2e63;
      color: #ffffff;
      position: relative;
      margin-top: 10px;

      &:hover {
        background: #ff1a53;
      }

      svg {
        font-size: 16px;
        position: relative;
        bottom: 2px;
        left: 10px;
        top: 2px;
      }
    }

    h5 {
      color: #010a43;
      font-weight: bold;
      font-size: 17px;
    }
  }
}

@media (min-width: 360px) {
  .sign-in-up .content {
    input {
      font-size: 18px;
    }

    button {
      svg {
        font-size: 18px;
        bottom: 0;
      }
    }
  }
}

@media (min-width: 600px) {
  .sign-in-up .content {
    width: 70%;
    padding: 50px 30px;
  }
}

@media (min-width: 768px) {
  .sign-in-up .content {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .sign-in-up .content {
    width: 33%;
  }
}

@media only screen and (max-device-width: 812px) and (max-height: 420px) and (orientation: landscape) {
  .sign-in-up {
    height: auto;
  }
}
